= form_for @user, as: :user, url: users_path do |f|
  = render 'shared/form_errors', item: @user

  = form_group(:email,      f, :email_field)
  = form_group(:first_name, f, :text_field)
  = form_group(:last_name,  f, :text_field)

  = form_group(:password,              f, :password_field)
  = form_group(:password_confirmation, f, :password_field)

  .actions= f.submit t('defaults.save'), class: 'form-control'
