= form_for @user, as: :user, url: user_path(@user) do |f|
  = f.collection_check_boxes(:user_group_ids, UserGroup.all, :id, :name) do |b|
    .my-checkbox-wrapper
      = b.label do
        = b.check_box
        = b.text

  .actions= f.submit t('defaults.save'), class: 'form-control'
