= render('shared/collapsed', id: 'create-container', title: t('users.create')) { render 'form'}

%table.table.table-responsive.table-striped
  %thead
    %th= humanize_attribute(:email)
    %th= humanize_attribute(:first_name)
    %th= humanize_attribute(:last_name)
    %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td
          = link_to t('defaults.destroy'), user_path(user), method: :delete, data: { confirm: t('defaults.confirmation') }, class: 'btn btn-danger pull-right'
          = link_to t('defaults.edit'), edit_user_path(user), class: 'btn btn-primary pull-right'

= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer