%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand= I18n.t('defaults.title')
    %ul.nav.navbar-nav
      - if user_signed_in?
        = render 'shared/admin_menu_items' if current_user&.admin?

        %li{ class: active_class(profile_path) }
          = link_to t('navbar.profile'), profile_path

        %li{ class: active_class(posts_path) }
          = link_to t('navbar.posts'), posts_path

        %li.pull-right
          = link_to t('authentication.logout'), destroy_user_session_path, method: :delete
